.CalendarContainer {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: #222;
  }
  
  .module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
  }
  .module {
    background: #222;
    color: white;
    padding: 2rem;
  }

  body {
    margin:0;
}