.KitchenCalendarContainer {
    display: flex;
    margin:5rem;
    flex-wrap: wrap;
    min-width: 800px;
}

.CalendarHeader {
    margin: 0;
    align-items: center;
    justify-content: stretch;
    background: #222;
    display: flex;
    padding: 1rem;
    width: 100%;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.daysContainer {
    margin: 0;
    align-items: center;
    background: #222;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));    
    color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.leading-trailing-day {
    opacity:.3;
    padding-top: 100%;
}

.CalendarHeader > h1 {
}

.monthDecrease {
    text-align: right;
    flex-grow: 1;
}

.monthIncrease {
    flex-grow: 1;
}

.header-month {
    min-width: 12rem;
    text-align: right;
    padding-right: 1rem;
}

.header-year {
    min-width: 12rem;
    padding-left: 1rem;
}


svg:hover {
    cursor: pointer;
}

.calendar-border-wrap {
    border: solid 1px grey;
    position: relative;
    top: 0;
}

.day::-webkit-scrollbar {
    display: none;
  }
.day {
    padding-top: 100%;
    background: #222;
    color: white;
    max-height: 2rem;
    /* min-width: 96px; */
    /* min-height: 96px; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
}
.dayNumber {
    padding-left: 0.25rem;
}
.slot0 {
    position: absolute;
    top: 0.25rem;
}

.slot1 {
    position: absolute;
    top: 1.5rem;
    text-wrap: nowrap;
}

.slot2 {
    position: absolute;
    top: 3rem;
    text-wrap: nowrap;
}

.event:hover {
    cursor: pointer;
    opacity: 0.5;
    color:white;
    background-color: darkgrey;
}
.event {
    background-color: darkgrey;
    color:black;
    width: 100%;
}

.event-start {
    left: 1rem;
    width:auto !important;
}
.event-end {
    right: 1rem;
    width: auto !important;;
}

.viewEvent {
    margin:2rem;
    width:100%;
    display: block;
    padding: 1rem;
    background-color: #222;
    color: white;
    border-radius: 5px;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    background: linear-gradient(to right, rgb(180, 0, 0), purple);
}